/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.logo {
    width: 20%;
    text-align: center;

}

nav {
    display: flex;
    width: 60%;
    justify-content: center;
}

header nav a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.contacto {
    display: flex;
    width: 20%;
    justify-content: center;
}

.contacto1 {
    display: flex;
    text-decoration: none;
    color: black;
    border-color: red;
    border-style: solid;
    padding: 10px 25px;
}

/* Contenido */
.contenedor_img {
    width: 100%;
    height: 600px;
    overflow: hidden;
    margin-bottom: 25px;
}

.imgBanner {
    width: 100%;
}

.slogan {
    font-size: 50px;
    text-align: center;
    margin-top: -400px;
    color: yellow;
}

.slogan1 {
    font-size: 50px;
    margin-top: -45px;
    text-align: center;
    color: yellow;
    margin-bottom: 300px;
}

.qSomos {
    width: 100%;
    margin-bottom: 35px;
}

.qSomos h2 {
    text-align: center;

}

.qSomosItem {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-center;
    align-items: center;
}

.qSomosItem_parrafo {
    padding-left: 25px;
    padding-right: 20px;
}

.section2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 250px;
}

.imgFood {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slogan2 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    margin-top: -300px;
    color: white;
}

.servicios {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.serviciosTitulo {
    text-align: center;
    margin-bottom: 60px;
}

.serviciosGrid {
    /* hacer que los graficos encajen */
    display: grid;
    display: flex;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.tarjeta {
    border: 1px solid gray;

}

.imgServicios {
    max-width: 100%;
}

.containerPlanes {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FCFCFC;
    padding-top: 25px;
}

.planesItems {
    display: grid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}

.planesItemsCard {
    border: 1px solid gray;
    width: 100%;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.planesItemsUl {
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 0;
    text-align: left;
    display: inline-block;
}

.precio {
    background-color: rgb(211, 209, 209);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left:auto;
    margin-bottom: auto;
   
    line-height: 50px;
    
}

ul p{
    line-height: 30px; 
    text-align: center;
}

.contact1{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
   
}

.contact1 p{
text-align: center;
line-height:15px;
margin-bottom: 25px;

} 

.formulario{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.formulario div{
    line-height: 30px;
}

.formulario div input{
    width: 312px;
    height: 25px;
}

.comentarios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    line-height: 30px;
   
}
.area{
    width: 100%;
}